

/* geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
}

/* navbar */
.navbar {
    background-color: #343a40 ;
}

.navbar .navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff ;
}

.navbar-nav .nav-link:hover {
    color: #fd0d0d;
}


/* logo */
.imagemlogo {
    max-width: 150px;
}

/* ufpr legenda */
.ufpr img {
    max-width: 100%;
    height: auto;
}
 
.img-fluid {
    max-width: 50%;
}

h1, h5 {
    color: #2c3e50;
}

/* Banner e textos */
.container.text-left {
    margin-top: 50px;
    background-color: rgb(64, 100, 148,0.3);

}

.container.text-left p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

/* Cursos */
.container.overflow-hidden {
    margin-top: 50px;
}

ul.list-unstyled li {
    font-size: 1.2rem;
    color: #555;
}

ul.list-unstyled li:hover {
    color: #fd0d0d;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar .container-fluid {
        display: block;
        text-align: center;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .p-3 img {
        width: 100%;
    }
}

.carrousel-slide {
    align-items: center;
}